(
    weapons: [
        (
            key: 0,
            name: "Default Weapon",
            fire_rate_ms: 100,
            projectile_config: (
                speed: 10.0,
                gravity_multiplier: 1.0,
                lifetime: 10.0,
                collision_radius: 1.0,
                mesh_config: (
                    mesh_kind: Sphere(
                        radius: 1.0,
                    ),
                    material_kind: Standard(
                        color: LinearRgba((
                            red: 1.0,
                            green: 1.0,
                            blue: 1.0,
                            alpha: 1.0,
                        )),
                    ),
                    offset: (0.0, 0.0, 0.0),
                    rotation: (0.0, 0.0, 0.0, 1.0),
                    scale: (1.0, 1.0, 1.0),
                ),
            ),
        )
    ],
)
